<div id="guests-show-container">

    <div class="card">
        <h3>AKB & EDF</h3>
        <h1>Thank you!</h1>
        <a href="/guests/new">RSVP for another guest</a>
    </div>

    <p>Oh, yes. I researched thank you card etiquette. This is a "Correspondence Card". It's "for men".</p>
</div>