#guests-index-container {
    text-align: center;

    #guest-table {
        display: table;
    }

    table {
        border-spacing: 0;

        tr {
            padding-left: 16px;
            padding-right: 16px;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }

        th {
            font-size: 18px;
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: $darker-blue;
            color: $white;
        }

        td {
            border-top: 1px solid $dark-blue;
        }

        #name-header, .name-td {
            text-align: left;
            padding-left: 16px;
        }

        .right-align {
            text-align: right;
        }

        input[type=submit] {
            background-color: $dark-brown;
            border-color: $dark-brown;
        }
    }

    .totals-chart {
        margin-left: 0;
        margin-right: 32px;
        vertical-align: top;

        th, td {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}