#home-container {
    text-align: center;

    #cosmo-hi {
        width: 400px;
        max-width: 80vw;
    }

    #covid-pic {
        width: 400px;
        max-width: 80vw;
    }

    #calendar {
        width: 800px;
        max-width: 80vw;
        box-shadow: 2px 2px 5px $blue-black;
    }

    table {
        
        max-width: 80vw;
        margin: auto;

        td {
            padding-bottom: 8px;
            padding-right: 8px;

            img {
                max-width: 100%;
            }
        }

        td.narrow-td {
            width: 37%;
        }
    }

    table.align-bottom {
        td {
            vertical-align: bottom;
        }
    }

    table.align-top {
        td {
            vertical-align: top;
        }
    }

    #important-notice {
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 32px;
        padding-bottom: 80px;
    }
}
