#home-container {
    text-align: center;

    #cosmo-hi {
        width: 400px;
        max-width: 80vw;
    }

    #calendar {
        width: 800px;
        max-width: 80vw;
    }

    table {
        
        max-width: 80vw;
        margin: auto;

        td {
            padding-bottom: 8px;
            padding-right: 8px;

            img {
                max-width: 100%;
            }
        }

        td.narrow-td {
            width: 37%;
        }
    }

    table.align-bottom {
        td {
            vertical-align: bottom;
        }
    }

    table.align-top {
        td {
            vertical-align: top;
        }
    }
}
