#location-container {
    text-align: center;

    h1 {
        margin-bottom: 0;
    }

    #map {
        width: 100vw;

        @media(max-width: 800px) {
            height: 400px;
        }

        @media(min-width: 800px) {
            height: 600px;
        }

        background-image: url("/images/map.png");
        background-size: cover;
        background-position-x: center;
    }
    
}