<div id="about-location-page">

    <h1>Lake Lucerne</h1>

    <img id="lucerne-from-camp-img" src="/images/lucerne-from-camp.jpg"/>
    <div>View of the Lucerne Inn from the Point (at the Bush camp)</div>

    <div class="card">
        <h2>A note about this place...</h2>
        <div id="note">
            <p>
                The Bush family has gone to Phillips Lake, fondly and locally known as Lake Lucerne, 
                since Grandpa was stationed at the Bangor Air Force base early in his marriage to Grandma. 
                Lifelong friendships were made in that time, and Dad and his family started spending summers there, long after they had moved away.
            </p>
            <p>
                Shortly after my older brother, Daniel, and cousin, Alyson, were born, our grandparents bought property right on the lake and built the Bush camp!
                We have gone there every summer for my entire life, as well as a Christmas here and there, complete with the BIGGEST indoor Christmas tree you can imagine!
                We spent our summers swimming, cayaking and canoeing, "washing the boats", searching for the resident eagles and loons, water skiing (or attempting to, in my case), jumping off the Point, walking around the island,
                skipping rocks at the causeway, and watching Dad and Grandpa, +/- various family members, sail in the Sunday sailing races.
                We picked wild blueberries on the waterfront and islands, and ate blueberry pancakes, blueberry pie, Grandma's cookies, way too many croissants, and of course fresh lobster and clams.
                On rainy days, there were puzzles to do, summer olympics to watch on the tiny old kitchen TV, books to read, and VHS's to watch.
                At some point we finally got old enough to participate in Grandpa's pre-dinner happy hour, a newer and excellent addition to our annual summer trips. 
                We spent our nights at the bonfire with old friends and neighbors, and often played dominoes with Grandma late into the night.
            </p>
            <p>
                Maine has always been a special place for me, if that isn't already apparent. It holds countless fond memories (and many more to come), not to mention being the most beautiful place I know of.
                Since Ethan's introduction to my family, he has spent several summers and even a Christmas up in Maine, and I think he's fallen in love with it as much as I have. 
                We are so excited to share this beautiful place with all of you at our wedding! 
            </p>
            <p id="signature"> - Anna </p>
        </div>
    </div>

</div>