<div id="activities-container">

    <h1>Maine is beautiful!</h1>
   
   <br/><br/>

    <h2>A note about this place:</h2>
    <p>
        The Bush family has gone to Phillips Lake, fondly and locally known as Lake Lucerne, 
        since Grandpa was stationed at the Bangor Air Force base early in his marriage to Grandma. 
        Lasting friendships were made, and Dad and his family started spending summers there, long after they had moved away.
    </p>
    <p>
        Shortly after my older brother, Daniel, and cousin, Alyson, were born, our grandparents bought property right on the lake and built the Bush camp!
        We have gone there every summer for my entire life, as well as a Christmas here and there, with the BIGGEST indoor Christmas tree you can imagine!
        We spent our summers swimming, cayaking and canoeing, water skiing (or attempting to, in my case), walking around the island,
        skipping rocks at the causeway, and watching Dad and Grandpa, +/- various family members, sail in the Sunday sailing races.
        We picked wild blueberries on the waterfront and islands, and ate blueberry pancakes, pie, cookies, croissants, and fresh lobster and clams.
        At some point we finally got old enough to participate in Grandpa's happy hour every evening. 
        We spent our nights at the bonfire with old friends and neighbors, or playing dominoes with Grandma late into the night. She always won... 
        On rainy days, not to worry, there were puzzles to do, summer olympics to watch on the tiny old kitchen TV, books to read, and VHS's to watch! 
    </p>
    <p>
    
    </p>
    <p> - Anna </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26334.552406688363!2d-68.61801451459029!3d44.698610848450286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1563988202195!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; max-width: 80vw;" allowfullscreen></iframe>

    <br/><br/>

    <h2>Head down to Mt Desert Island!</h2>
    <p>
        Have an extra day to explore? <br/>
        Head down to visit Bar Harbor, hike or drive up Cadillac Mountain, and enjoy Acadia National Park!<br/>
        It's only an hour south of the Lucerne Inn!
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d364149.61902297434!2d-68.74169339473761!3d44.517001865693125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x4cae5401d51d9691%3A0x44eaaff973f2d6f5!2sThe+Lucerne+Inn%2C+2517+Main+Road%2C+Dedham%2C+ME+04429!3m2!1d44.703008999999994!2d-68.600371!4m5!1s0x4caebe4815802593%3A0x88e91a6528cad91b!2sBar+Harbor%2C+ME!3m2!1d44.387611899999996!2d-68.2039123!5e0!3m2!1sen!2sus!4v1563988746373!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; max-width: 80vw;" allowfullscreen></iframe>

    <br/><br/>
</div>