<div id="activities-container">
   
    <div id="sunset-img-background">
        <table>
            <tbody>
                <tr>
                    <td>
                        Some people might call this a destination wedding.
                    </td>
                </tr>
                <tr>
                    <td class="align-bottom">
                        Some people might be right.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>

    <h2>Take a scenic drive</h2>
    <p>
        Have a spare moment on the wedding weekend? <br/>
        Take a scenic drive around Lake Lucerne (ie Phillips Lake on the map).
        You will not be disappointed!
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26334.552406688363!2d-68.61801451459029!3d44.698610848450286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1563988202195!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; max-width: 80vw;" allowfullscreen></iframe>

    <br/><br/>

    <h2>Head down to Mt Desert Island</h2>
    <p>
        Have an extra day or two to explore? <br/>
        Head down to visit Bar Harbor, hike or drive up Cadillac Mountain, and enjoy Acadia National Park!<br/>
        It's only an hour south of the Lucerne Inn!
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d364149.61902297434!2d-68.74169339473761!3d44.517001865693125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x4cae5401d51d9691%3A0x44eaaff973f2d6f5!2sThe+Lucerne+Inn%2C+2517+Main+Road%2C+Dedham%2C+ME+04429!3m2!1d44.703008999999994!2d-68.600371!4m5!1s0x4caebe4815802593%3A0x88e91a6528cad91b!2sBar+Harbor%2C+ME!3m2!1d44.387611899999996!2d-68.2039123!5e0!3m2!1sen!2sus!4v1563988746373!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; max-width: 80vw;" allowfullscreen></iframe>

    <br/><br/>

    <h2>L.L. Bean Flagship and Outlet shopping</h2>
    <p>
        Break up your drive!<br/>
        I don't know if any of you like L.L. Bean as much as I do (unlikely), but their flagship store is in Freeport, ME. 
        It's really something. They have their own waterways and fish INSIDE. It's an experience.
        Freeport is basically an entire town of L.L. Bean and lots of other outlet stores (Vineyard Vines, Old Navy, Gap, Nike, North Face, all your standards). 
        This is a good one to visit to break up your drive, for those of you that are going to make the journey via car.<br/>
        It's right on the way, and about an hour and a half - 2 hours from the Holiday Inn.
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d730424.6786357391!2d-70.02054385699255!3d44.34650280549794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x4cae4b0677f8e561%3A0x26041d20f3ee1a7c!2sHoliday%20Inn%20Bangor%2C%20Odlin%20Road%2C%20Bangor%2C%20ME!3m2!1d44.786226!2d-68.8130242!4m5!1s0x4cb27e40c0bbbd7f%3A0x5fbaba76d4bd9d59!2sL.L.Bean%2C%2095%20Main%20St%2C%20Freeport%2C%20ME%2004032!3m2!1d43.8577647!2d-70.1034427!5e0!3m2!1sen!2sus!4v1578770267638!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; max-width: 80vw;" allowfullscreen></iframe>
   
    <br/><br/>
</div>