<div id="home-container">
    <h1>Welcome!</h1>=
    <img src="/images/cosmo-hi.jpg" id="cosmo-hi"/>

    <h1>We're getting married...</h1>
    <img src="/images/beach.jpg" id="beach"/>

    <h1>At this great place in Maine...</h1>
    <table id="lucerne">
        <tbody>
            <tr>
                <td>
                    <img src="/images/lucerne-gazebo.jpg"/>
                </td>
                <td class="narrow-td">
                    <img src="/images/point.jpg"/>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/lucerne-view.jpg"/>
                </td>
                <td class="narrow-td">
                    <img src="/images/blueberries.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>

</div>