<div id="home-container">
    <h1>Welcome!</h1>
    <img src="/images/cosmo-hi.jpg" id="cosmo-hi"/>

    <h1>We're getting married...</h1>
    <table class="align-bottom">
        <tbody>
            <tr>
                <td>
                    <img src="/images/at-the-lake.jpg"/>
                </td>
                <td class="narrow-td">
                    <img src="/images/black-and-white.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="align-top">
        <tbody>
            <tr>
                <td class="narrow-td">
                    <img src="/images/skiing.jpg"/>
                </td>
                <td>
                    <img src="/images/elephant.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>at this great <a href="/location">place</a> in Maine...</h1>
    <table class="align-bottom">
        <tbody>
            <tr>
                <td>
                    <img src="/images/lucerne-gazebo.jpg"/>
                </td>
                <td class="narrow-td">
                    <img src="/images/point.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="align-top">
        <tbody>
            <tr>
                <td class="narrow-td">
                    <img src="/images/blueberries.jpg"/>
                </td>
                <td>
                    <img src="/images/lake-sunset-2.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>on <a href="/schedule">August 8, 2020</a>!</h1>
    <img src="/images/calendar.jpg" id="calendar"/>
    <p>Yes, I did use MS Paint to make this calendar. It's a classic.</p>

</div>