<div id="home-container">

    <h1>Quarantined.</h1>
    <img src="/images/covid.jpg" id="covid-pic"/>

    <h2 id="important-notice">
    PLEASE NOTE: As you may have seen in our altered wedding announcement, due to the current state of the world we have decided to have a (very) small, private ceremony (in other words: Ethan, Anna, 1 officiant, and 1 witness) rather than our original wedding plans. 
    While no future plans have been made at this time and we will miss your presence in August, we hope to celebrate with you all soon!
    </h2>

    <h2>Moving right along...</h2>

    <h1>Welcome!</h1>
    <img src="/images/cosmo-hi.jpg" id="cosmo-hi"/>

    <h1>We're getting married...</h1>
    <table class="align-bottom">
        <tbody>
            <tr>
                <td>
                    <img src="/images/at-the-lake.jpg"/>
                </td>
                <td class="narrow-td">
                    <img src="/images/black-and-white.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="align-top">
        <tbody>
            <tr>
                <td class="narrow-td">
                    <img src="/images/skiing.jpg"/>
                </td>
                <td>
                    <img src="/images/elephant.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>in quarantine...</h1>
    <img src="/images/covid.jpg" id="covid-pic"/>

    <!-- <h1>at this great <a href="/location">place</a> in Maine...</h1>
    <table class="align-bottom">
        <tbody>
            <tr>
                <td>
                    <img src="/images/lucerne-gazebo.jpg"/>
                </td>
                <td class="narrow-td">
                    <img src="/images/point.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="align-top">
        <tbody>
            <tr>
                <td class="narrow-td">
                    <img src="/images/blueberries.jpg"/>
                </td>
                <td>
                    <img src="/images/lake-sunset-2.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>-->

    <h1>on August 8, 2020!</h1>
    <img src="/images/calendar.png" id="calendar"/>
    <p>Yes, I did use MS Paint to make this calendar. It's a classic.</p>

    <!-- <h1>We would love if you could <a href="/guests/new">join us</a>!</h1>-->

</div>