<div id="location-container">

    <div id="map-container">
    <img src="/images/map.png" id="map"/>
    </div>

    <div class="card">

        <h2>Ceremony and Reception:</h2>
        <h1><a href="https://www.lucerneinn.com/" target="blank">The Lucerne Inn</a></h1>
        <p>
            2517 Main Rd.<br/>
            Dedham, ME 04429<br/>
            (207)843-5123<br/>
            <a href="https://www.lucerneinn.com/" target="blank">website</a><br/>
            <a href="https://goo.gl/maps/FFZa7uwnBRRC1DMMA" target="blank">View map</a>
        </p>

        <h2><a href="/about-location">Read more</a> about why we chose here.</h2>

        <br/><br/>

        <h2>Places to Stay:</h2>
        <h1><a href="https://www.holidayinn.com/redirect?path=hd&brandCode=HI&localeCode=en&regionCode=1&hotelCode=BGROR&_PMID=99801505&GPC=FBW&cn=no&viewfullsite=true" target="blank">Holiday Inn Bangor</a></h1>
        <p>
            Ask for the Fox-Bush Wedding block - there is a discount.<br/>
            If you're booking online, the Group Code for the room block and discount is "FBW".
        </p>
        <p>
            404 Odlin Rd<br/>
            Bangor, ME 04401<br/>
            207-947-0101<br/>
            <a href="https://www.holidayinn.com/redirect?path=hd&brandCode=HI&localeCode=en&regionCode=1&hotelCode=BGROR&_PMID=99801505&GPC=FBW&cn=no&viewfullsite=true" target="blank">website</a><br/>
            <a href="https://goo.gl/maps/ti5LvaMeCB1rjNKo7" target="blank">View map</a>
        </p>

        <br/><br/>
            
        <h2>Travel:</h2>
        <p>
            The closest airport is <a href="https://flybangor.com/" target="blank">Bangor International Airport</a>.<br/>
            It's about 30 minutes drive from The Lucerne Inn (venue), and 15 minutes from the Holiday Inn (lodging).<br/>
            <a href="https://flybangor.com/airport-information/ground-transportation/taxis-limos/" target="blank">Taxi</a> and <a href="https://flybangor.com/airport-information/ground-transportation/rental-cars/" target="blank">rental car</a> details are available on the airport's <a href="https://flybangor.com/airport-information/ground-transportation" target="blank">website</a>.<br/>
            This is a pretty remote area, so <strong style="text-decoration: underline;">Uber and other ride-shares might not always be available.</strong><br/>
            Ask your lodging about the possibility of shuttle service to and from the airport.
        </p>

        <br/><br/>

        <h2>Bus on Wedding Day:</h2>
        <p>There will be a bus between the Holiday Inn and Lucerne Inn for the ceremony and reception. More details coming soon...</p>

    </div>

</div>