<div id="location-container">
    <h1><a href="https://www.lucerneinn.com/">The Lucerne Inn</a></h1>
    <p>
        2517 Main Rd.<br/>
        Dedham, ME 04429<br/>
        (207)843-5123<br/>
        https://www.lucerneinn.com/
    </p>

    <h2>Ceremony, Reception, and Sunday morning Brunch are all here!</h2>
</div>