<div id="location-container">
    
    <br/>
    
    <h2>Travel:</h2>
    <p>
        Some people might call this a destination wedding.<br/>
        Some people might be right.<br/><br/>
        The closest airport is <a href="https://flybangor.com/">Bangor International Airport</a>.<br/>
        It's about 30 minutes drive from The Lucerne Inn (venue), and 15 minutes from the Residece Inn (lodging).<br/>
        <a href="https://flybangor.com/airport-information/ground-transportation/taxis-limos/">Taxi</a> and <a href="https://flybangor.com/airport-information/ground-transportation/rental-cars/">rental car</a> details are available on the airport's <a href="https://flybangor.com/airport-information/ground-transportation">website</a>.<br/>
        This is a pretty remote area, so Uber and other apps might not always be available.<br/>
        Ask your lodging about the possibility of free shuttle service to and from the airport!
    </p>

    <img src="/images/map.png" id="map"/>
    <p>I also made this with MS Paint. So there.</p>

    <br/><br/>

    <h2>Ceremony, Reception, and Sunday Morning Brunch:</h2>
    <h1><a href="https://www.lucerneinn.com/">The Lucerne Inn</a></h1>
    <p>
        2517 Main Rd.<br/>
        Dedham, ME 04429<br/>
        (207)843-5123<br/>
        <a href="https://www.lucerneinn.com/">website</a>
    </p>

    <br/><br/>

    <h2>Places to Stay:</h2>
    <h1><a href="https://www.marriott.com/hotels/travel/bgrri-residence-inn-bangor/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">Residence Inn Bangor</a></h1>
    <p>
        22 Bass Park Boulevard<br/>
        Bangor, ME 04401<br/>
        (207)433-0800<br/>
        <a href="https://www.marriott.com/hotels/travel/bgrri-residence-inn-bangor/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">website</a>
    </p>

    <br/><br/>

    <h2>If You Like Camping:</h2>
    <h1><a href="https://www.branchlakecamping.com/">Branch Lake Camping</a></h1>
    <p>
        180 Hansons Landing Rd.<br/>
        Ellsworth, ME 04605<br/>
        (207)667-5174<br/>
        <a href="https://www.branchlakecamping.com/">website</a>
    </p>


</div>