<div id="registry-container">
    <div class="card">

        <h1>Registry</h1>

        <h2>
            Anna and Ethan are registered at
            <a href="https://www.blueprintregistry.com/registry/anna-ethan-bushfox-wedding-registry-8-8-2020" target="blank">
                BlueprintRegistry.com
            </a>
        </h2>
        <h3>Click the link to view our selections from a number of different stores!</h3>
    </div>

</div>