<div id="schedule-container">
    <br/>
    <h1>August 7, 2020</h1>

    <h2>Rehearsal Dinner and Welcome Reception:</h2>
    <p>
        TBD<br/>
        The Bush Camp<br/>
        By invitation only
    </p>

    <br/>

    <h1>August 8, 2020</h1>

    <h2>Ceremony:</h2>
    <p>
        4:00 PM - 5:00 PM<br/>
        <a href="/location">The Lucerne Inn</a> Gazebo
    </p>

    <br/>

    <h2>Reception:</h2>
    <p>
        5:00 PM - 10:00 PM<br/>
        <a href="/location">The Lucerne Inn</a> Phillips Room and Patio
    </p>

    <br/>

    <h1>August 9, 2020</h1>

    <h2>Brunch:</h2>
    <p>
        TBD<br/>
        <a href="/location">The Lucerne Inn</a> TBD 
    </p>

    <br/><br/>

</div>