<div id="schedule-container">
    <div class="card">

        <h1>August 8, 2020</h1>

        <h2>Ceremony:</h2>
        <p>
            4:00 PM<br/>
            <a href="/location">The Lucerne Inn</a> Gazebo<br/>
        </p>

        <br/>

        <h2>Reception and Dinner:</h2>
        <p>
            5:00 PM - 10:00 PM<br/>
            <a href="/location">The Lucerne Inn</a> Phillips Room and Patio<br/>
        </p>

    </div>

</div>