$white: #ffffff;

$ivory: #fffcf7;
$napkin-purple: rgb(99, 60, 133);
$translucent-purple: rgba(99, 60, 133, 0.6);

$patio-red: rgb(143, 109, 109);
$patio-gray: rgb(112,108,113);
$light-gray: rgb(232, 232, 232);