$white: #ffffff;
$black: #000000;

$white-blue: #D2DaDF;
$lightest-blue: #7996A9;
$lighter-blue: #6A889C;
$light-blue: #4F748C;
$blue: #2E5771;
$dark-blue: #173E57;
$darker-blue: #092E45;
$darkest-blue: #06263C;
$blue-black: #00101A;
$translucent-dark-blue: rgba(23, 62, 87, 0.6);

$white-purple: #DBD6E2;
$lightest-purple: #9582B3;
$lighter-purple: #8772A6;
$light-purple: #6F5695;
$purple: #4F3378;
$dark-purple: #351A5D;
$darker-purple: #250B4A;
$darkest-purple: #1E083F;
$purple-black: #0B011B;
$translucent-dark-purple: rgba(53, 26, 93, 0.6);

$white-green: #EEF6E6;
$lightest-green: #C3E7A1;
$lighter-green: #B5DB90;
$light-green: #96C469;
$green: #6B9F3B;
$dark-green: #497A1A;
$darker-green: #336207;
$darkest-green: #2B5403;
$green-black: #122400;
$translucent-green: rgba(107, 159, 59, 0.6);

$ivory: #FAF6F1;
$dark-ivory: #FFF8EF;
$tan: #F4CFA1;
$brown: #B18041;
$dark-brown: #6D4008;
$brown-black: #281600;

// $patio-red: rgb(143, 109, 109);
// $patio-gray: rgb(112,108,113);
// $light-gray: rgb(232, 232, 232);
