body {
    margin: 0;
    background: $ivory;
    font-family: 'Belleza', sans-serif;
    color: $dark-blue;

    a {
        cursor: pointer;
        text-decoration: none;
        color: $green;

        &:hover {
            color: $translucent-green;
        }
    }

    h1 {
        font-size: 48px;
        font-weight: bold;
        line-height: 48px;
        font-family: 'Clicker Script', cursive;
        color: $blue;
    }

    h2, p {
        a {
            text-decoration: underline;
        }
    }

    p {
        font-size: 20px;
        line-height: 28px;
        margin-left: 32px;
        margin-right: 32px;
    }
    
    .inline-div {
        display: inline-block;
    }

    label {
        display: block;
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 8px;
    }

    input, select {
        display: block;
        width: 100%;

        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;

        outline: none !important;

        background-color: $white;
        border-radius: 0;
        color: $darker-blue;

        border: 1px solid $white-blue;

        &:focus, &:hover {
            border: 1px solid $darker-blue;
        }
    }

    input[type=submit] {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 24px;

        background-color: $dark-green;
        color: $white;
        border-color: $dark-green;

        &:hover {
            opacity: 80%;
        }
    }
}