body {
    margin: 0;
    background: $ivory;
    font-family: 'Belleza', sans-serif;
    color: $patio-gray;

    a {
        cursor: pointer;
        text-decoration: none;
        color: $napkin-purple;

        &:hover {
            color: $translucent-purple;
        }
    }

    h1 {
        font-size: 48px;
        font-weight: bold;
        line-height: 48px;
        color: $patio-gray;
        font-family: 'Clicker Script', cursive;
    }

    p {
        font-size: 20px;
        line-height: 28px;

        a {
            text-decoration: underline;
        }
    }

    .inline-div {
        display: inline-block;
    }
}