<div id="header-container">
    <div id="logo" class="inline-div">
        <a href="/">Anna's and Ethan's Wedding Website</a>
    </div>

<!--
    <div id="navbar" class="inline-div">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="/schedule">When</a>
                    </td>
                    <td>
                        <a href="/location">Where</a>
                    </td>
                    <td>
                        <a href="/activities">In The Area</a>
                    </td>
                    <td>
                        <a href="/registry">Registry</a>
                    </td>
                    <td>
                        <a href="/guests/new">RSVP</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
</div>
