<div id="header-container">
    <div id="logo" class="inline-div">
        <a href="/">Ethan's and Anna's Wedding Website</a>
    </div>

    <div id="navbar" class="inline-div">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="/location">Where</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
