<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/cake-icon.jpg">
    <title>Fox Bush Wedding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="/javascripts/my-test.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
